[submodule "easy-collect-api"]
	path = easy-collect-api
	url = https://github.com/simonestaffa/easy-collect-api.git
[submodule "easy-collect-web"]
	path = easy-collect-web
	url = https://github.com/simonestaffa/easy-collect-web.git
[submodule "messenger-bot"]
	path = messenger-bot
	url = https://github.com/marcozecchini/messenger-bot
[submodule "App_Android"]
	path = App_Android
	url = https://github.com/davegimo/easycollect_android
[submodule "easy-collect-telegram"]
	path = easy-collect-telegram
	url = https://github.com/LucaTomei/easy-collect-telegram.git
